.userImg {
    border: 3px solid transparent;
    cursor: pointer;
    transition: all ease 0.3s;
}

.userImg:hover {
    border-color: var(--main-color);
    box-shadow: 0 0 10px 4px var(--main-color-lighter);
}