* {
    --main-color: #FA450F;
    --main-color-lighter: #fd7b54;
    --secondary-color: #224082;
}

body,
html {
    overflow-x: hidden;
}

#root {
    /* background-image: url(./assets/image/bg.jpg); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* color: #fff; */
    font-family: 'Montserrat', sans-serif;
}