.headerLogo {
    max-width: 130px;
    background-color: #fff;
    padding: 1rem;
}

@media screen and (min-width: 992px) {
    .logoLink {
        position: absolute;
        left: 10%;
        top: 3%;
    }
}